.header {
  background-color: rgb(244, 248, 250);
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  gap: 10px;
}

.avtor {
  display: flex;
  align-items: center;
  gap: 8px;
}
.avtor a {
  color: rgb(38, 41, 49);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.menu span {
  display: inline-block;
  width: 100%;
  background: #000;
  border-radius: 5px;
  max-width: 20px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}

.menu {
  display: none;
  height: 20px;
  width: 20px;
  position: relative;
  background: none;
}

.menu::before {
  width: 100%;
  height: 2px;
  background: #000;
  border-radius: 5px;
  max-width: 20px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  content: "";
}

.menu::after {
  width: 100%;
  height: 2px;
  background: #000;
  border-radius: 5px;
  max-width: 20px;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-50%);
  content: "";
}

.header_nav {
  display: flex;
  flex: 0 1 784px;
  gap: 10px;
  justify-content: space-between;
}

.header_nav_a {
  color: rgb(97, 99, 109);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

@media (max-width: 992px) {
  .header_nav {
    display: none;
  }
  .avtor {
    display: none;
  }
  .menu {
    display: block;
  }
  .menu::after {
    display: block;
  }
}
.welcome {
  background-color: rgb(244, 248, 250);
  position: relative;
  overflow: hidden;
}

.welcome_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 128px;
  padding-bottom: 144px;
  z-index: 1;
  gap: 10px;
}

.right_part {
  max-width: 576px;
  gap: 56px;
  display: flex;
  flex-direction: column;
}

.right_part_h1 {
  color: rgb(38, 41, 49);
  font-family: RF Dewi Extended;
  font-size: 56px;
  font-weight: 400;
  line-height: 67px;
  letter-spacing: 0%;
  text-align: left;
}
.right_part_h1 span {
  color: rgb(1, 118, 255);
  font-family: RF Dewi Extended;
  font-size: 56px;
  font-weight: 400;
  line-height: 67px;
  letter-spacing: 0%;
  text-align: left;
}

.right_part_text {
  color: rgb(97, 99, 109);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
}
.right_part_text b {
  color: rgb(63, 65, 74);
}

.right_part_button {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  padding: 16px 32px;
  background-color: rgb(1, 118, 255);
  border-radius: 72px;
  max-width: 202px;
}

.left_part {
  max-width: 485px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 12px 32px 0px rgba(50, 73, 85, 0.1);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 48px;
  border-radius: 30px;
  z-index: 1;
  gap: 40px;
}

.login {
  color: rgb(38, 41, 49);
  font-family: RF Dewi Extended;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.password_div {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.textbox_password {
  color: rgb(169, 171, 182);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  width: 100%;
  max-width: 389px;
  padding: 16px 8px 16px 20px;
  border: 1px solid rgb(196, 199, 207);
  border-radius: 30px;
  background: rgb(255, 255, 255);
}

.textbox_login {
  width: 100%;
  max-width: 389px;
  padding: 16px 8px 16px 20px;
  border: 1px solid rgb(196, 199, 207);
  border-radius: 30px;
  background: rgb(255, 255, 255);
  color: rgb(169, 171, 182);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.textbox_image_eye {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 20px;
  background: none;
}

.recover_password {
  color: rgb(159, 161, 173);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 8px;
  padding-left: 8px;
  cursor: pointer;
}

.left_part_block_third {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button_login {
  padding: 16px 40px;
  border: 1px solid rgb(1, 118, 255);
  border-radius: 72px;
  background-color: rgb(255, 255, 255);
  max-width: 128px;
  align-self: center;
  color: rgb(38, 41, 49);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  align-self: center;
}

.no_account {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(159, 161, 173);
  align-self: center;
}

.no_account_register {
  color: rgb(1, 118, 255);
  cursor: pointer;
}

.bg_shapes {
  position: absolute;
  top: 73px;
  left: 646px;
  z-index: 0;
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
  }
  .left_part {
    flex: 1 1 414px;
    padding: 18px 12px;
    gap: 18px;
    border-radius: 20px;
    box-shadow: 0px 8px 24px 0px rgba(50, 73, 85, 0.1);
    background: rgb(255, 255, 255);
    width: 100%;
  }
  .bg_shapes {
    display: none;
  }
  .right_part_h1 {
    font-family: RF Dewi Extended;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    max-width: 314px;
  }
  .right_part_h1 span {
    font-family: RF Dewi Extended;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
  }
  .welcome_wrapper {
    padding: 57px 0 64px;
    gap: 40px;
    justify-content: center;
    align-items: flex-start;
  }
  .right_part_text {
    max-width: 314px;
    font-size: 14px;
  }
  .right_part {
    gap: 24px;
  }
  .textbox_password {
    max-width: none;
    font-size: 14px;
    padding: 12px 8px 12px 20px;
  }
  .textbox_login {
    max-width: none;
    font-size: 14px;
    padding: 12px 8px 12px 20px;
    color: rgb(0, 38, 255);
  }
  .login {
    font-size: 16px;
  }
  .recover_password {
    font-size: 14px;
  }
  .button_login {
    max-width: none;
    width: 100%;
    text-align: center;
    padding: 12px 0;
    font-size: 14px;
  }
  .right_part_button {
    max-width: none;
    width: 100%;
    text-align: center;
    padding: 12px 0;
    font-size: 14px;
  }
  .no_account {
    font-size: 14px;
  }
  .password_div {
    margin-top: 12px;
  }
}
@media (max-width: 584px) {
  .about_project_wrapper {
    flex-wrap: wrap;
  }
}
.about_project {
  background: rgb(255, 255, 255);
  background-image: url(../img/Bar_chart.png);
  background-repeat: repeat-x;
  background-position: 0 100%;
}

.about_project_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0 167px;
}

.about_project_right {
  padding-left: 55px;
}

.about_project_left {
  max-width: 487px;
}

.about_project_img {
  width: 100%;
}

.about_project_title {
  color: rgb(38, 41, 49);
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}

.about_project_text {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 32px;
}

.about_project_parag {
  color: rgb(97, 99, 109);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
}

.about_project_parag_b {
  color: rgb(38, 41, 49);
}

@media (max-width: 992px) {
  .about_project {
    background: none;
  }
  .about_project_right {
    height: 100%;
    width: 100%;
    padding: 0;
    flex: 1 1 240px;
  }
  .about_project_wrapper {
    gap: 40px;
    padding: 40px 0;
  }
  .about_project_title {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
  }
  .about_project_parag {
    font-size: 14px;
    font-weight: 400;
  }
  .about_project_text {
    gap: 8px;
    margin-top: 16px;
    max-width: 384px;
    width: 100%;
  }
}
@media (max-width: 584px) {
  .welcome_wrapper {
    flex-wrap: wrap;
  }
  .left_part {
    max-width: 560px;
  }
  .right_part {
    max-width: 560px;
    width: 100%;
  }
  .right_part_text {
    max-width: none;
  }
  .right_part_h1 {
    max-width: none;
  }
  .about_project_text {
    max-width: none;
  }
  .about_project_left {
    max-width: none;
  }
}
.how_it_works {
  background: rgb(244, 248, 250);
}

.how_it_works_wrapper {
  padding-top: 140px;
  display: flex;
  flex-direction: column;
}

.how_it_works_title {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(38, 41, 49);
}

.how_it_works_title_another {
  color: rgb(1, 118, 255);
}

.how_it_works_block {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 39px;
  overflow-x: scroll;
}

.how_it_works_block_title1 {
  color: rgb(38, 41, 49);
  font-family: RF Dewi Extended;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 94px;
  margin-bottom: 12px;
}

.how_it_works_block_text1 {
  color: rgb(97, 99, 109);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  max-width: 174px;
}

.how_it_works_block_title2 {
  color: rgb(38, 41, 49);
  font-family: RF Dewi Extended;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 12px;
  padding-top: 44px;
}

.how_it_works_block_text2 {
  color: rgb(97, 99, 109);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 98px;
  max-width: 257px;
}

.how_it_works_block_text3 {
  color: rgb(97, 99, 109);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 145px;
  max-width: 205px;
}

.how_it_works_block_title4 {
  color: rgb(38, 41, 49);
  font-family: RF Dewi Extended;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 44px;
  margin-bottom: 12px;
  padding-left: 58px;
}

.how_it_works_block_text4 {
  color: rgb(97, 99, 109);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 82px;
  max-width: 211px;
  align-self: flex-end;
}

.how_it_works_block_vector1 {
  position: absolute;
  top: 270px;
  left: 220px;
}

.how_it_works_block_vector2 {
  position: absolute;
  top: 245px;
  left: 545px;
}

.how_it_works_block_vector3 {
  position: absolute;
  top: 245px;
  left: 825px;
}

.become_partner {
  margin-top: 32px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  background-color: rgb(1, 118, 255);
  border-radius: 72px;
  padding: 16px 32px;
  align-self: center;
}

.how_it_works_block_third {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how_it_works_block_fourth {
  display: flex;
  flex-direction: column;
}

@media (max-width: 992px) {
  .how_it_works_block_vector1 {
    display: none;
  }
  .how_it_works_block_vector2 {
    display: none;
  }
  .how_it_works_block_vector3 {
    display: none;
  }
  .how_it_works_wrapper {
    padding-top: 64px;
  }
  .how_it_works_title {
    font-size: 18px;
    font-weight: 400;
  }
  .how_it_works_block {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 40px;
  }
  .how_it_works_block_first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    flex: 1 1 270px;
  }
  .how_it_works_block_second {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex: 1 1 270px;
  }
  .how_it_works_block_third {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex: 1 1 270px;
  }
  .how_it_works_block_fourth {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex: 1 1 270px;
  }
  .how_it_works_img {
    max-width: 104px;
    width: 100%;
    height: 100%;
  }
  .how_it_works_img img {
    width: 100%;
  }
  .how_it_works_block_text3 {
    margin: 0;
    font-size: 14px;
    max-width: none;
  }
  .how_it_works_block_text1 {
    font-size: 14px;
    max-width: none;
  }
  .how_it_works_block_text2 {
    font-size: 14px;
    max-width: none;
    margin: 0;
  }
  .how_it_works_block_text4 {
    font-size: 14px;
    max-width: none;
    margin: 0;
  }
  .how_it_works_block_title2 {
    font-size: 14px;
    padding: 0;
    margin-bottom: 10px;
  }
  .how_it_works_block_title1 {
    font-size: 14px;
    padding: 0;
    margin-bottom: 10px;
  }
  .how_it_works_block_title3 {
    font-size: 14px;
    padding: 0;
    margin-bottom: 10px;
  }
  .how_it_works_block_title4 {
    font-size: 14px;
    padding: 0;
    margin-bottom: 10px;
  }
  .how_it_works_title_text {
    width: 100%;
  }
  .become_partner {
    max-width: 370px;
    width: 100%;
    text-align: center;
    padding: 12px 0;
    font-size: 14px;
  }
}
.cript {
  background: rgb(244, 248, 250);
}

.cript_wrapper {
  padding: 144px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cript_title {
  color: rgb(1, 118, 255);
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}

.cript_title_another {
  color: rgb(38, 41, 49);
}

.cript_text {
  color: rgb(97, 99, 109);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  max-width: 671px;
  margin-top: 40px;
  margin-bottom: 46px;
}

.cript_text_another {
  color: rgb(38, 41, 49);
}

.cript_video {
  position: relative;
}

.svg_play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cript_video_player {
  background: rgb(249, 251, 252);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 72px;
  height: 72px;
}

@media (max-width: 992px) {
  .cript_wrapper {
    padding: 48px 0 64px;
    align-items: flex-start;
  }
  .cript_title {
    font-size: 18px;
  }
  .cript_text {
    margin: 16px 0 32px;
    font-size: 14px;
    text-align: left;
  }
  .cript_video video {
    width: 100%;
  }
}
.registration {
  background-color: rgb(1, 118, 255);
  background-image: url(../img/Frame3.png);
  background-repeat: no-repeat;
  background-size: 877px 748px;
  background-position: 100% -74px;
}

.registration_wrapper {
  padding: 48px;
}

.registration_wrapper_title {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(255, 255, 255);
  max-width: 893px;
  margin-bottom: 40px;
}

.registration_wrapper_title_another {
  color: rgb(251, 220, 124);
}

.registration_wrapper_text {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
  max-width: 683px;
}

.buttons_group {
  display: flex;
  gap: 24px;
  margin-top: 40px;
}

.registration_button {
  color: rgb(38, 41, 49);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  padding: 16px 32px 16px 32px;
  border-radius: 72px;
  background: rgb(255, 255, 255);
}

.login_button {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  background: none;
}

@media (max-width: 992px) {
  .registration {
    background-image: none;
  }
  .registration_wrapper {
    padding: 24px 0;
  }
  .registration_wrapper_title {
    font-size: 18px;
    margin-bottom: 24px;
  }
  .registration_wrapper_text {
    font-size: 14px;
  }
  .buttons_group {
    flex-direction: column;
    align-items: center;
  }
  .registration_button {
    max-width: 370px;
    width: 100%;
    text-align: center;
  }
}
.support {
  background: rgb(244, 248, 250);
  padding-top: 166px;
  padding-bottom: 148px;
  background-image: url(../img/frame4.png);
  background-repeat: no-repeat;
  background-position: 50% 63%;
  background-size: 725px 717px;
}

.support_wrapper {
  display: flex;
  flex-direction: column;
}

.support_wrapper_title {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0%;
  color: rgb(1, 118, 255);
  max-width: 697px;
  text-align: center;
  align-self: center;
  margin-bottom: 56px;
}

.support_wrapper_title_another {
  color: rgb(0, 0, 0);
}

.support_wrapper_block {
  display: flex;
  justify-content: space-between;
}

.support_first_group13 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: right;
  max-width: 237px;
  color: rgb(97, 99, 109);
  position: relative;
}

.support_text_another {
  color: rgb(38, 41, 49);
}

.support_second_group13 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  max-width: 267px;
  color: rgb(97, 99, 109);
  position: relative;
}

.support_first_group2 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: right;
  color: rgb(97, 99, 109);
  margin: 75px 0 73px;
  max-width: 267px;
  padding-right: 30px;
  position: relative;
}

.support_first_group {
  margin-right: 83px;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  padding-top: 104px;
}

.support_second_group2 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(97, 99, 109);
  margin: 75px 0 73px;
  max-width: 314px;
  padding-left: 18px;
  position: relative;
}

.support_second_group {
  margin-left: 64px;
  padding-top: 104px;
}

@media (max-width: 992px) {
  .support {
    padding: 64px 0 78px;
    background-image: none;
  }
  .support_wrapper_title {
    font-size: 18px;
    margin-bottom: 24px;
    align-self: flex-start;
    text-align: left;
    line-height: 22px;
  }
  .support_first_group13 {
    font-size: 14px;
    max-width: none;
    text-align: left;
  }
  .support_first_group2 {
    font-size: 14px;
    padding: 0;
    margin: 16px 0;
    max-width: none;
    text-align: left;
  }
  .support_second_group13 {
    font-size: 14px;
    max-width: none;
  }
  .support_second_group2 {
    font-size: 14px;
    padding: 0;
    margin: 16px 0;
    max-width: none;
  }
  .support_first_group {
    order: 1;
    padding: 0;
    margin: 0;
    flex: 1 1 360px;
    align-items: flex-start;
  }
  .support_center_group {
    order: 3;
    justify-content: center;
    display: flex;
    width: 100%;
    background-image: url(../img/frame4.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .support_second_group {
    order: 2;
    padding: 0;
    margin: 0;
    flex: 1 1 360px;
  }
  .support_wrapper_block {
    flex-wrap: wrap;
    gap: 16px;
  }
  .marker_for_p::before {
    width: 100%;
    height: 5px;
    max-width: 5px;
    background: rgb(1, 118, 255);
    border-radius: 50%;
    content: "";
    left: -8px;
    top: 10px;
    position: absolute;
    transform: translateY(-50%);
  }
  .support_center_group img {
    width: 100%;
    height: 100%;
    max-width: 450px;
  }
}
.studying {
  background: rgb(244, 248, 250);
}

.studying_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.studying_title {
  color: rgb(1, 118, 255);
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}

.studying_title_another {
  color: rgb(38, 41, 49);
}

.studying_text {
  color: rgb(97, 99, 109);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  max-width: 671px;
  margin-top: 40px;
  margin-bottom: 46px;
}

.svg_play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.studying_text_another {
  color: rgb(38, 41, 49);
}

.studying_video {
  position: relative;
  margin-top: 48px;
}

.studying_video_player {
  background: rgb(249, 251, 252);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 72px;
  height: 72px;
}

.gray_link:hover {
  color: rgb(38, 41, 49);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.gray_link:active {
  color: rgb(38, 41, 49);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.dark_link:hover {
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.blue_link:hover {
  color: rgb(23, 82, 151);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

@media (max-width: 992px) {
  .studying_title {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    align-self: flex-start;
  }
  .studying_video video {
    width: 100%;
  }
  .studying_video {
    margin-top: 32px;
  }
}
.answers {
  background: rgb(244, 248, 250);
}

.answers_wrapper {
  padding: 144px 0 120px;
}

.answers_block {
  display: flex;
  gap: 32px;
  align-items: flex-start;
}

.answers_left_part {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.answers_wrapper_title {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(1, 118, 255);
  margin-bottom: 48px;
}

.answers_wrapper_title_another {
  color: rgb(38, 41, 49);
}

.answers_legend1 {
  color: rgb(97, 99, 109);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.answers_legend1::marker {
  font-size: 0;
}

.answers_details1 {
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  max-width: 682px;
}
.answers_details1[open] .answers_legend1 {
  color: rgb(38, 41, 49);
  padding-bottom: 16px;
}
.answers_details1[open] img {
  transform: rotate(180deg);
}

hr {
  max-width: 634px;
  background-color: rgb(220, 221, 229);
  height: 1px;
  margin-bottom: 17px;
}

.answers_details_ol {
  padding-left: 24px;
}

.answers_details_li {
  color: 700, rgb(38, 41, 49);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
}

.answers_details_p {
  color: 700, rgb(38, 41, 49);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
}

.answers_right_part {
  padding: 40px 48px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  box-shadow: 0px 12px 32px 0px rgba(50, 73, 85, 0.1);
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.answers_right_part_title {
  color: rgb(38, 41, 49);
  font-family: RF Dewi Extended;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 auto 16px;
}

.answers_right_part_text {
  color: rgb(97, 99, 109);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.answers_right_part2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.textbox_name {
  padding: 16px 20px;
  color: rgb(169, 171, 182);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  border: 1px solid rgb(196, 199, 207);
  border-radius: 30px;
}

.textbox_phone {
  padding: 16px 20px;
  color: rgb(169, 171, 182);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  border: 1px solid rgb(196, 199, 207);
  border-radius: 30px;
}

.textbox_message {
  padding: 16px 20px;
  color: rgb(169, 171, 182);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  border: 1px solid rgb(196, 199, 207);
  border-radius: 30px;
}

.answers_right_part3 {
  display: flex;
  justify-content: center;
}

.button_send {
  color: rgb(38, 41, 49);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  background: none;
  padding: 16px 40px;
  border: 1px solid rgb(1, 118, 255);
  border-radius: 72px;
}

.details_div {
  padding: 0 24px 24px;
}

@media (max-width: 992px) {
  .answers_legend1 {
    padding: 12px;
    font-size: 14px;
    gap: 8px;
  }
  .answers_left_part {
    gap: 8px;
  }
  .answers_wrapper_title {
    font-size: 18px;
    margin-bottom: 32px;
  }
  .answers_wrapper {
    padding: 64px 0 128px;
  }
  .answers_right_part {
    padding: 18px 12px;
    gap: 18px;
    width: 100%;
  }
  .answers_right_part_title {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .answers_right_part_text {
    font-size: 14px;
    line-height: 130%;
  }
  .answers_right_part2 {
    gap: 12px;
  }
  .textbox_name {
    width: 100%;
    padding: 12px 20px;
    font-size: 14px;
  }
  .textbox_phone {
    width: 100%;
    padding: 12px 20px;
    font-size: 14px;
  }
  .textbox_message {
    width: 100%;
    padding: 12px 20px;
    font-size: 14px;
  }
  .button_send {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 554px) {
  .answers_block {
    flex-wrap: wrap;
  }
}
.footer {
  padding: 56px 0;
  background: rgb(255, 255, 255);
}

.footer_wrapper {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.footer_block1 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer_second_ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer_second_li {
  color: rgb(97, 99, 109);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.footer_second {
  display: flex;
  gap: 120px;
}

.footer_third_group_p {
  color: rgb(38, 41, 49);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  display: flex;
  gap: 8px;
}

.footer_third {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer_third_group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.copyright {
  color: rgb(159, 161, 173);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 24px;
}

.footer_block2_p {
  color: rgb(159, 161, 173);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.footer_block2 {
  display: flex;
  align-self: center;
  max-width: 656px;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

@media (max-width: 992px) {
  .footer_first {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .footer_logo {
    max-width: 104px;
  }
  .footer_block1 {
    flex-wrap: wrap;
    gap: 40px;
  }
  .copyright {
    margin: 0;
  }
  .footer_second {
    justify-content: space-between;
    gap: 30px;
    flex: 1 1 420px;
  }
  .footer_second_li {
    font-size: 14px;
  }
  .footer_third_group_p {
    font-size: 16px;
  }
  .footer_block2 {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 16px;
  }
  .footer {
    padding: 32px 0;
  }
}
.container {
  max-width: 1224px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

.blue_button {
  transition: all 0.5s ease;
}

.white_button2 {
  transition: all 0.5s ease;
}

.white_button {
  transition: all 0.5s ease;
}

.button_play {
  transition: all 0.5s ease;
}

.button_play path {
  transition: all 0.5s ease;
}

.input {
  transition: all 0.5s ease;
}

.gray_link {
  transition: all 0.5s ease;
}

.dark_link {
  transition: all 0.5s ease;
}

.blue_link {
  transition: all 0.5s ease;
}

.gray_link2 {
  transition: all 0.5s ease;
}

.blue_button:hover {
  border-radius: 72px;
  box-shadow: 0px 4px 20px 0px rgba(16, 109, 217, 0.5);
  background: rgb(20, 113, 222);
}

.blue_button:active {
  border-radius: 72px;
  box-shadow: inset 0px 0px 10px 0px rgb(27, 83, 150);
  background: rgb(20, 113, 222);
}

.white_button:hover {
  border-radius: 52px;
  box-shadow: 0px 8px 16px 0px rgba(50, 73, 85, 0.3);
  background: rgb(255, 255, 255);
}

.white_button:active {
  border-radius: 52px;
  box-shadow: inset 0px 0px 10px 0px rgba(27, 83, 150, 0.6);
  background: rgb(255, 255, 255);
}

.white_button2:hover {
  box-sizing: border-box;
  border: 1px solid rgb(1, 118, 255);
  border-radius: 72px;
  background: rgb(1, 118, 255);
  color: rgb(255, 255, 255);
}

.white_button2:active {
  border-radius: 72px;
  box-shadow: inset 0px 0px 10px 0px rgb(27, 83, 150);
  background: rgb(20, 113, 222);
  color: rgb(255, 255, 255);
}

.button_play:hover {
  box-shadow: 0px 3px 16px 0px rgb(0, 0, 0);
  background: rgb(1, 118, 255);
}

.button_play:hover path {
  fill: rgb(255, 255, 255);
}

.button_play:active {
  box-shadow: inset 0px 0px 10px 0px rgba(27, 83, 150, 0.7);
  background: rgb(1, 118, 255);
}

.input:hover {
  border: 1px solid rgb(97, 99, 109);
  border-radius: 30px;
}

.input:focus {
  border: 1px solid rgb(0, 109, 202);
  border-radius: 30px;
  box-shadow: 0px 0px 0px 3px rgba(0, 143, 248, 0.2);
}

.input:invalid {
  border: 1px solid rgb(238, 86, 86);
  border-radius: 30px;
  box-shadow: 0px 0px 0px 3px rgba(255, 125, 137, 0.2);
}

.dark_link:hover path {
  fill: rgb(0, 0, 0);
}

.gray_link2:hover {
  color: rgb(38, 41, 49);
  font-weight: 400;
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
  }
}
@media (max-width: 584px) {
  .container {
    max-width: 792px;
    margin: 0 auto;
    padding: 0 12px;
  }
}
/*
@media (max-width: 320px) {

  .how_it_works_block img {
    max-width: 104px;
  }


  .how_it_works_block_text1 {
    color: var(--gray 500, rgba(97, 99, 109, 1));
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    max-width: 152px;
  }
  .how_it_works_block_title1 {
    color: var(--gray 700, rgba(38, 41, 49, 1));
    font-family: RF Dewi Extended;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
  }
}
*//*# sourceMappingURL=style.css.map */