.about_project {
  background: rgba(255, 255, 255, 1);
  background-image: url(../img/Bar_chart.png);
  background-repeat: repeat-x;
  background-position: 0 100%;
}
.about_project_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0 167px;
}
.about_project_right {
  padding-left: 55px;
}
.about_project_left {
  max-width: 487px;
}
.about_project_img {
  width: 100%;
}
.about_project_title {
  color: rgba(38, 41, 49, 1);

  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}
.about_project_text {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 32px;
}
.about_project_parag {
  color: rgba(97, 99, 109, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
}
.about_project_parag_b {
  color: rgba(38, 41, 49, 1);
}
@media (max-width: 992px) {
  .about_project {
    background: none;
  }
  .about_project_right {
    height: 100%;
    width: 100%;
    padding: 0;
    flex: 1 1 240px;
  }
  .about_project_wrapper {
    gap: 40px;
    padding: 40px 0;
  }
  .about_project_title {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
  }
  .about_project_parag {
    font-size: 14px;
    font-weight: 400;
  }
  .about_project_text {
    gap: 8px;
    margin-top: 16px;
    max-width: 384px;
    width: 100%;
  }
}
@media (max-width: 584px) {
  .welcome_wrapper {
    flex-wrap: wrap;
  }
  .left_part{
    max-width: 560px;
  }
  .right_part{
     max-width: 560px;
     width: 100%;
  }
  .right_part_text{
    max-width: none;
  }
  .right_part_h1{
    max-width: none;
  }
  .about_project_text{
    max-width: none;
    
  }
  .about_project_left{
    max-width: none;
  }
}
