.about_project {
  background: rgba(255, 255, 255, 1);
  background-image: url(../img/Bar_chart.png);
  background-repeat:repeat-x ;
  background-position: 0 100%;
}
.about_project_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0 167px;
}
.about_project_img {
  padding-left: 55px;
}
.about_project_left {
  max-width: 487px;
}
.about_project_title {
  color: rgba(38, 41, 49, 1);

  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}
.about_project_text {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 32px;
}
.about_project_parag {
  color: rgba(97, 99, 109, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
}
.about_project_parag_b {
  color: rgba(38, 41, 49, 1);
}
