.answers {
  background: rgba(244, 248, 250, 1);
}
.answers_wrapper {
  padding: 144px 0 120px;
}
.answers_block {
  display: flex;
  gap: 32px;
  align-items: flex-start;
}
.answers_left_part {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.answers_wrapper_title {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  color: rgba(1, 118, 255, 1);
  margin-bottom: 48px;
}
.answers_wrapper_title_another {
  color: rgba(38, 41, 49, 1);
}
.answers_legend1 {
  color: rgba(97, 99, 109, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  padding: 24px;
}
.answers_legend1::marker {
  font-size: 0;
}

.answers_details1 {
  &[open] {
    & .answers_legend1 {
      color: rgba(38, 41, 49, 1);
      padding-bottom: 16px;
    }
    & img {
      transform: rotate(180deg);
    }
  }
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  max-width: 682px;
}
hr {
  max-width: 634px;
  background-color: rgba(220, 221, 229, 1);
  height: 1px;
  margin-bottom: 17px;
}

.answers_details_ol {
  padding-left: 24px;
}
.answers_details_li {
  color: rgba(38, 41, 49, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
}
.answers_details_p {
  color: rgba(38, 41, 49, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
}
.answers_right_part {
  padding: 40px 48px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  box-shadow: 0px 12px 32px 0px rgba(50, 73, 85, 0.1);
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.answers_right_part_title {
  color: rgba(38, 41, 49, 1);
  font-family: RF Dewi Extended;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 auto 16px;
}
.answers_right_part_text {
  color: rgba(97, 99, 109, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.answers_right_part2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.textbox_name {
  padding: 16px 20px;
  color: rgba(169, 171, 182, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  border: 1px solid rgba(196, 199, 207, 1);
  border-radius: 30px;
}
.textbox_phone {
  padding: 16px 20px;
  color: rgba(169, 171, 182, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  border: 1px solid rgba(196, 199, 207, 1);
  border-radius: 30px;
}
.textbox_message {
  padding: 16px 20px;
  color: rgba(169, 171, 182, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  border: 1px solid rgba(196, 199, 207, 1);
  border-radius: 30px;
}
.answers_right_part3 {
  display: flex;
  justify-content: center;
}
.button_send {
  color: rgba(38, 41, 49, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  background: none;
  padding: 16px 40px;
  border: 1px solid rgba(1, 118, 255, 1);
  border-radius: 72px;
}
.details_div {
  padding: 0 24px 24px;
}
@media (max-width: 992px) {
  .answers_legend1 {
    padding: 12px;
    font-size: 14px;
    gap: 8px;
  }
  .answers_left_part {
    gap: 8px;
  }
  .answers_wrapper_title {
    font-size: 18px;
    margin-bottom: 32px;
    line-height: 22px;
  }
  .answers_wrapper {
    padding: 64px 0 128px;
  }
  .answers_right_part {
    padding: 18px 12px;
    gap: 18px;
    width: 100%;
    border-radius: 20px;
  }
  .answers_right_part_title {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .answers_right_part_text {
    font-size: 14px;
    line-height: 130%;
  }
  .answers_right_part2 {
    gap: 12px;
  }
  .textbox_name {
    width: 100%;
    padding: 12px 20px;
    font-size: 14px;
  }
  .textbox_phone {
    width: 100%;
    padding: 12px 20px;
    font-size: 14px;
  }
  .textbox_message {
    width: 100%;
    padding: 12px 20px;
    font-size: 14px;
  }
  .button_send {
    width: 100%;
    text-align: center;
  }
  .details_div {
    padding: 0 12px 12px;
  }
  .answers_details_p {
    font-size: 14px;
  }
  .answers_details_li {
    font-size: 14px;
  }
}
@media (max-width: 554px) {
  .answers_block {
    flex-wrap: wrap;
  }
}
