.cript {
  background: rgba(244, 248, 250, 1);
}
.cript_wrapper {
  padding: 144px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cript_title {
  color: rgba(1, 118, 255, 1);
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}
.cript_title_another {
  color: rgba(38, 41, 49, 1);
}
.cript_text {
  color: rgba(97, 99, 109, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  max-width: 671px;
  margin-top: 40px;
  margin-bottom: 46px;
}
.cript_text_another {
  color: rgba(38, 41, 49, 1);
}
.cript_video {
  position: relative;
}
.svg_play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cript_video_player {
  background: rgba(249, 251, 252, 1);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 72px;
  height: 72px;
}
@media (max-width: 992px) {
  .cript_wrapper {
    padding: 48px 0 64px;
    align-items: flex-start;
  }
  .cript_title {
    font-size: 18px;
    line-height: 22px;
  }
  .cript_text {
    margin: 16px 0 32px;
    font-size: 14px;
    text-align: left;
  }
  .cript_video video {
    width: 100%;
  }
  .cript_video_player {
    height: 40px;
    width: 40px;
  }
}
