.header {
  background-color: rgba(244, 248, 250, 1);
}
.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  gap: 10px;
}
.avtor {
  display: flex;
  align-items: center;
  gap: 8px;
  & a {
    color: rgba(38, 41, 49, 1);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
  }
}
.menu span {
  display: inline-block;
  width: 100%;
  background: #000;
  border-radius: 5px;
  max-width: 20px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}
.menu {
  display: none;
  height: 20px;
  width: 20px;
  position: relative;
  background: none;
}
.menu::before {
  width: 100%;
  height: 3px;
  background: #000;
  border-radius: 5px;
  max-width: 20px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  content: "";
}
.menu::after {
  width: 100%;
  height: 3px;
  background: #000;
  border-radius: 5px;
  max-width: 20px;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-50%);
  content: "";
}
.header_nav {
  display: flex;
  flex: 0 1 784px;
  gap: 10px;
  justify-content: space-between;
}
.header_nav_a {
  color: rgba(97, 99, 109, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}
@media (max-width: 992px) {
  .header_nav {
    display: none;
  }
  .avtor {
    display: none;
  }
  .menu {
    display: block;
  }
  .menu::after {
    display: block;
  }
  .header_wrapper{
    padding-top: 12px;
  }
}

