.header{
  background-color: rgba(244, 248, 250, 1);
}
.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  gap: 10px;
}
.avtor {
  display: flex;
  align-items: center;
  gap: 8px;
  & a {
    color: rgba(38, 41, 49, 1);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
  }
}
.menu{
  display: none;
}
.header_nav {
  display: flex;
  flex: 0 1 784px;
  gap: 10px;
  justify-content: space-between;
}
.header_nav_a {
  color: rgba(97, 99, 109, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}
