.how_it_works {
  background: rgba(244, 248, 250, 1);
}
.how_it_works_wrapper {
  padding-top: 140px;
  display: flex;
  flex-direction: column;
}
.how_it_works_title {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  color: rgba(38, 41, 49, 1);
}
.how_it_works_title_another {
  color: rgba(1, 118, 255, 1);
}
.how_it_works_block {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.how_it_works_block_title1 {
  color: rgba(38, 41, 49, 1);
  font-family: RF Dewi Extended;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 94px;
  margin-bottom: 12px;
}
.how_it_works_block_text1 {
  color: rgba(97, 99, 109, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  max-width: 174px;
}
.how_it_works_block_title2 {
  color: rgba(38, 41, 49, 1);
  font-family: RF Dewi Extended;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 12px;
  padding-top: 44px;
}
.how_it_works_block_text2 {
  color: rgba(97, 99, 109, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 98px;
  max-width: 257px;
}
.how_it_works_block_text3 {
  color: rgba(97, 99, 109, 1);

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 145px;
  max-width: 205px;
}
.how_it_works_block_title4 {
  color: rgba(38, 41, 49, 1);
  font-family: RF Dewi Extended;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 44px;
  margin-bottom: 12px;
  padding-left: 58px;
}
.how_it_works_block_text4 {
  color: rgba(97, 99, 109, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 82px;
  max-width: 211px;
  align-self: flex-end;
}
.how_it_works_block_vector1 {
  position: absolute;
  top: 270px;
  left: 220px;
}
.how_it_works_block_vector2 {
  position: absolute;
  top: 245px;
  left: 545px;
}
.how_it_works_block_vector3 {
  position: absolute;
  top: 245px;
  left: 825px;
}
.become_partner {
  margin-top: 32px;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  background-color: rgba(1, 118, 255, 1);
  border-radius: 72px;
  padding: 16px 32px;
  align-self: center;
}
.how_it_works_block_third {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.how_it_works_block_fourth {
  display: flex;
  flex-direction: column;
}
