.registration{
background-color: rgba(1, 118, 255, 1);
background-image: url(../img/Frame3.png);
background-repeat: no-repeat;
background-size: 877px 748px;
background-position: 100% -74px;
}
.registration_wrapper{
    padding: 48px;
}
.registration_wrapper_title{
    font-family: RF Dewi Extended;
font-size: 40px;
font-weight: 400;
line-height: 130%;
letter-spacing: 0%;
text-align: left;
color: rgba(255, 255, 255, 1);
max-width: 893px;
margin-bottom: 40px;

}
.registration_wrapper_title_another{
color: rgba(251, 220, 124, 1);
}
.registration_wrapper_text{
    color: rgba(255, 255, 255, 1);

font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 160%;
letter-spacing: 0%;
text-align: left;
max-width: 683px;
}
.buttons_group{
    display: flex;
    gap: 24px;
    margin-top: 40px;
}
.registration_button{
    color: rgba(38, 41, 49, 1);

font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
padding: 16px 32px 16px 32px;
border-radius: 72px;
background: rgba(255, 255, 255, 1);
}
.login_button{
color: rgba(255, 255, 255, 1);

font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
background: none;
}
@media (max-width: 992px){
    .registration{
        background-image: none;
    }
    .registration_wrapper{
        padding: 24px 0;
    }
    .registration_wrapper_title{
        font-size: 18px;
        margin-bottom: 24px;
    }
    .registration_wrapper_text{
        font-size: 14px;
    }
    .buttons_group{
        flex-direction: column;
        align-items: center;
    }
    .registration_button{
        max-width: 370px;
        width: 100%;
        text-align: center;
    }
}