.studying {
  background: rgba(244, 248, 250, 1);
}
.studying_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.studying_title {
  color: rgba(1, 118, 255, 1);
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}
.studying_title_another {
  color: rgba(38, 41, 49, 1);
}
.studying_text {
  color: rgba(97, 99, 109, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  max-width: 671px;
  margin-top: 40px;
  margin-bottom: 46px;
}
.svg_play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.studying_text_another {
  color: rgba(38, 41, 49, 1);
}
.studying_video {
  position: relative;
  margin-top: 48px;
}
.studying_video_player {
  background: rgba(249, 251, 252, 1);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 72px;
  height: 72px;
}
.gray_link:hover {
  color: rgba(38, 41, 49, 1);
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}
.gray_link:active {
  color: rgba(38, 41, 49, 1);
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}
.dark_link:hover {
  color: rgba(0, 0, 0, 1);
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}
.blue_link:hover {
  color: rgba(23, 82, 151, 1);
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}
@media (max-width: 992px) {
  .studying_title {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    align-self: flex-start;
  }
  .studying_video video{
  width: 100%;
}
.studying_video{
  margin-top: 32px;
}
.studying_video_player{
  width: 40px;
  height: 40px;
}
.svg_play{
  width: 20px;
  height: 20px;
}
}
