.support {
  background: rgba(244, 248, 250, 1);
  padding-top: 166px;
  padding-bottom: 148px;
  background-image: url(../img/frame4.png);
  background-repeat: no-repeat;
  background-position: 50% 63%;
  background-size: 725px 717px;
}
.support_wrapper {
  display: flex;

  flex-direction: column;
}
.support_wrapper_title {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0%;
  color: rgba(1, 118, 255, 1);
  max-width: 697px;
  text-align: center;
  align-self: center;
  margin-bottom: 56px;
}
.support_wrapper_title_another {
  color: rgba(0, 0, 0, 1);
}
.support_wrapper_block {
  display: flex;
  justify-content: space-between;
}
.support_first_group13 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: right;
  max-width: 237px;
  color: rgba(97, 99, 109, 1);
  position: relative;
}
.support_text_another {
  color: rgba(38, 41, 49, 1);
}
.support_second_group13 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  max-width: 267px;
  color: rgba(97, 99, 109, 1);
  position: relative;
}
.support_first_group2 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: right;
  color: rgba(97, 99, 109, 1);
  margin: 75px 0 73px;
  max-width: 267px;
  padding-right: 30px;
  position: relative;
}
.support_first_group {
  margin-right: 83px;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  padding-top: 104px;
}
.support_second_group2 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  color: rgba(97, 99, 109, 1);
  margin: 75px 0 73px;
  max-width: 314px;
  padding-left: 18px;
  position: relative;
}
.support_second_group {
  margin-left: 64px;
  padding-top: 104px;
}

@media (max-width: 992px) {
  .support {
    padding: 64px 0 78px;
    background-image: none;
  }
  .support_wrapper_title {
    font-size: 18px;
    margin-bottom: 24px;
    align-self: flex-start;
    text-align: left;
    line-height: 22px;
  }
  .support_first_group13 {
    font-size: 14px;
    max-width: none;
    text-align: left;
  }
  .support_first_group2 {
    font-size: 14px;
    padding: 0;
    margin: 16px 0;
    max-width: none;
    text-align: left;
  }
  .support_second_group13 {
    font-size: 14px;
    max-width: none;
  }
  .support_second_group2 {
    font-size: 14px;
    padding: 0;
    margin: 16px 0;
    max-width: none;
  }
  .support_first_group {
    order: 1;
    padding: 0;
    margin: 0;
    flex: 1 1 360px;
    align-items: flex-start;
  }
  .support_center_group {
    order: 3;
    justify-content: center;
    display: flex;
    width: 100%;
    background-image: url(../img/frame4.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .support_second_group {
    order: 2;
    padding: 0;
    margin: 0;
    flex: 1 1 360px;
  }
  .support_wrapper_block {
    flex-wrap: wrap;
    gap: 16px;
  }
  .marker_for_p::before {
    width: 100%;
    height: 5px;
    max-width: 5px;
    background: rgba(1, 118, 255, 1);
    border-radius: 50%;
    content: "";
    left: -8px;
    top: 10px;
    position: absolute;
    transform: translateY(-50%);
  }
  .support_center_group img {
    width: 100%;
    height: 100%;
    max-width: 450px;
  }
}
