@use "./header";
@use "./welcome";
@use "./about_project";
@use "./how_it_works";
@use "./cript";
@use "./registration";
@use "./support";
@use "./studying";
@use "./answers";
@use "./footer";
.container{
    max-width: 1224px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

